---
import { getCollection } from 'astro:content';
import BaseLayout from "../../layouts/Base.astro"

export async function getStaticPaths() {
  const blogEntries = await getCollection('experiments');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

function formatDate(date: Date) {
	console.log(date)
	return date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear()
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
    <div class="packed">
        <h1>{entry.data.title}</h1>
        <subtitle>
            <em>{formatDate(entry.data.date)}</em>
            {entry.data.url ? (
                <a href={entry.data.url}>(see code)</a>
            ) : undefined}
        </subtitle>
    </div>
    <Content />
</BaseLayout>
